<div class='container'>
  <% provide(:title, "About") %>
  <h1>About Us</h1>
  <p>
   Eating processed food or pizzas are easy but why putting something you know they’re bad into your body. <br>
   We provide you with better choices as we believe that eating well leads to living well. 
   We are thriving to help eaters have the best food.
  </p>
  <hr></hr>
  <p>
    Befed เกิดจากการรวมตัวของกลุ่มคนที่ใส่ใจในเรื่องสุขภาพ เราเชื่อว่าอาหารที่ดีควรเป็นอาหารที่นอกจากจะอร่อยแล้ว ยังทำให้เราดูดี สุขภาพดี เราจึงสร้างเวปไซต์และแอพพลิเคชั่นเพื่อคัดเลือกร้านที่ดีต่อสุขภาพมาไว้ที่นี่ที่เดียว เพื่อให้คุณมีทางเลือกในการสั่งอาหารออนไลน์ที่มีประโยชน์และดีต่อร่างกายของคุณ โดยที่คุณสามารถสั่งที่เราจากที่บ้าน และคุณสามารถมีอาหารดีๆเพื่อสุขภาพมาอยู่บนโต๊ะอาหารได้ เพื่อสุขภาพที่ดีของคุณและคนในครอบครัวที่คุณห่วงใย
  </p>
</div>
