<% provide(:title, "About") %>
<% provide(:hidden_title, 'Static') %>
<div class='container'>
  <div class='static-page'>
    <h1>About Us</h1>
    <p>
      Eating processed food or pizzas are easy but why putting something you know they’re bad into your body. Befed provide you with better choices as we believe that eating well leads to living well. By delivering healthy food to you, we are thriving to help eaters have the best food possible.
    </p>
    <hr></hr>
    <p>
     Befed เชื่อว่าอาหารที่ดีควรเป็นอาหารที่นอกจากจะอร่อยแล้ว ยังทำให้เราดูดีและมีสุขภาพดี เราจึงสร้างเวปไซต์และแอพพลิเคชั่นเพื่อคัดเลือกร้านที่ดีต่อสุขภาพมาไว้ที่นี่ที่เดียว เพื่อให้คุณมีทางเลือกในการสั่งอาหารออนไลน์ที่มีประโยชน์และดีต่อร่างกายของคุณ เพียงแค่คุณสั่งอาหารจากเรา คุณก็จะมีอาหารอร่อยหลากหลายเมนูมาอยู่บนโต๊ะอาหารได้ เพื่อสุขภาพที่ดีของคุณและคนในครอบครัวที่คุณห่วงใย
    </p>
  </div>
</div>
