<% provide(:title, 'Contact') %>
<div class='container'>
  <div class='static-page'>
    <h1>Contact Us</h1>
    <p>
      Comments & Questions are always welcome :)
    </p>
    <span class="glyphicon glyphicon-envelope"></span> befedtoday@gmail.com<br>
    <span class="glyphicon glyphicon-earphone"></span> 092-276-4769<br>
   <span class="glyphicon glyphicon-home"></span>  
    Befed Technology Co., Ltd.
    84 Ladprao 114 Rd. Wangthonglang
    Bangkok, Thailand 10310
  </div>
</div>
