<div class='container'>
  <% provide(:title, 'Contact') %>
  <h1>Contact Us</h1>
  <p>
    Comments & Questions are always welcome :)
  </p>
  <span class="glyphicon glyphicon-envelope"></span> befedtoday@gmail.com
  <span class="glyphicon glyphicon-earphone"></span> 092-276-4769
</div>
