<div class='container'>
  <% provide(:title, 'Terms and Conditions') %>
  <h1>Terms & Conditions</h1>
  <p>
    After the orders were placed on our platform, we will contact the partner restaurants and send them your orders. 
    If you are paying for your order using credit card you will be asked to enter your card details as part of the ordering process. 
    The refund policy for credit card payment are listed below:
  </p>

  <ul>
    <li>
      In case you want to cancel your order, please contact us immediately. We’ll promptly forward your cancellation request to our partner restaurant.
      If the food preparation hasn’t been started and/or restaurant confirms the order cancellation, you shall be refunded in full.
    </li>
    <li>
      If the ordered items are properly delivered but the delivery time has exceeded 2 hours, only the delivery costs shall be refundable.
    </li>
    <li>
      If the delivered items are not the ordered items, you may reject the whole order and you will be refunded in full.
      You may also reject only the incorrect items and you will be partially refunded for the incorrect items.
    </li>
  </ul>
  
  
  <h4>Contacting Us</h4>
  
  <p>If there are any questions regarding this terms and conditions you may contact us using the information below.</p>
  
  <p>Befed Technology Co., Ltd.<br>
  84 Ladprao 114<br>
  Bangkok, Thailand 10310<br>
  befedtoday@gmail.com<br>
  </p>
  
  Last Edited on 2016-05-18
  
</div>
