
<div id="cash-on-delivery" class="hide ">
  <div class="cash-delivery-text-wrapper">
    Payment Method: Cash on delivery
    <form id="cash-payment" class="form-horizontal" role="form" action='/checkout/complete' method='POST'>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type='hidden' name='payment_type' value='cash'>
      <input type="submit" name="commit" value="Pay with cash" class="btn btn-danger" id="pay-with-cash">
    </form>
  </div>
</div>
