<script src="https://cdn.omise.co/omise.js"></script>
<script>
  $(document).ready(function() {
    $("#cash-on-delivery-button").click(function(e) {
      e.preventDefault();
      $("#cash-on-delivery-button").addClass('active');
      $("#cc-payment-button").removeClass('active');
      $("#cash-on-delivery").removeClass('hide');
      $("#cc-payment").addClass('hide');
      $("#cc-errors").addClass('hide');
    });

    $("#cc-payment-button").click(function(e) {
      e.preventDefault();
      $("#cc-payment-button").addClass('active');
      $("#cash-on-delivery-button").removeClass('active');
      $("#cc-payment").removeClass('hide');
      $("#cash-on-delivery").addClass('hide');
      $("#cc-errors").removeClass('hide');
    });
  });
</script>

<ul class="nav nav-pills">
  <li role="presentation" class="active" id="cc-payment-button"><a href="#">Credit Card</a></li>
  <li role="presentation" id="cash-on-delivery-button"><a href="#">Cash</a></li>
</ul>

<%= render partial: "cash_payment" %>
<%= render partial: "credit_card" %>
