<script src="https://cdn.omise.co/omise.js"></script>
<script>
  $(document).ready(function() {
    $("#cash-on-delivery-button").click(function(e) {
      e.preventDefault();
      $("#cash-on-delivery-button").addClass('active');
      $("#cc-payment-button").removeClass('active');
      $("#cash-on-delivery").removeClass('hide');
      $("#cc-payment").addClass('hide');
    });

    $("#cc-payment-button").click(function(e) {
      e.preventDefault();
      $("#cc-payment-button").addClass('active');
      $("#cash-on-delivery-button").removeClass('active');
      $("#cc-payment").removeClass('hide');
      $("#cash-on-delivery").addClass('hide');
    });

    Omise.setPublicKey("pkey_test_53toly2ll40xt5cvmir");
    $("#checkout").submit(function () {
      var form = $(this);

      // Disable the submit button to avoid repeated click.
      form.find("input[type=submit]").prop("disabled", true);

      // Serialize the form fields into a valid card object.
      var card = {
        "name": form.find("[data-omise=holder_name]").val(),
        "number": form.find("[data-omise=number]").val(),
        "expiration_month": form.find("[data-omise=expiration_month]").val(),
        "expiration_year": form.find("[data-omise=expiration_year]").val(),
        "security_code": form.find("[data-omise=security_code]").val()
      };

      // Send a request to create a token then trigger the callback function once
      // a response is received from Omise.
      //
      // Note that the response could be an error and this needs to be handled within
      // the callback.
      Omise.createToken("card", card, function (statusCode, response) {
        if (response.object == "error") {
          // Display an error message.
          $("#token_errors").html(response.message);

          // Re-enable the submit button.
          form.find("input[type=submit]").prop("disabled", false);
        } else {
          // Then fill the omise_token.
          form.find("[name=omise_token]").val(response.id);

          // Remove card number from form before submiting to server.
          form.find("[data-omise=number]").val("");
          form.find("[data-omise=security_code]").val("");

          // submit token to server.
          form.get(0).submit();
        };
      });
      // Prevent the form from being submitted;
      return false;
    });
  });
</script>

<ul class="nav nav-pills">
  <li role="presentation" class="active" id="cc-payment-button"><a href="#">Credit Card</a></li>
  <li role="presentation" id="cash-on-delivery-button"><a href="#">Cash</a></li>
</ul>

<%= render partial: "cash_payment" %>
<%= render partial: "credit_card" %>


<!-- <form action="/checkout" method="post" id="checkout">
  <div id="token_errors"></div>

  <input type="hidden" name="omise_token">

  <div><input type="text" data-omise="holder_name"></div>
  <div>Number <input type="text" data-omise="number"> </div>
  <div>
    Expiration Date <input type="text" data-omise="expiration_month" size="4"> / <input type="text" data-omise="expiration_year" size="8">
  </div>
  <div> Security Code <input type="text" data-omise="security_code" size="8"> </div>

  <input type="submit" id="create_token">
</form> -->
