<% provide(:hidden_title, "clearmap") %>
<div class="container">
  <div class="row">
    <!-- DELIVERY ADDRESS -->
    <div class="col-xs-6 deliverying-to-container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title pull-left" style="padding-top: 7.5px;"> Delivery Address
          </h3>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
    <!-- END DELIVERY ADDRESS -->
    <!-- ORDER SUMMARY -->
    <div class="col-xs-6 order-summary-container">
      <div class="order-summary">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Your Order <%= link_to "(Return to menu)", restaurant_foods_path(session[:restaurant_id]),{ class: "return-to-menu" } %>
            </h3>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="order-items">
             

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END ORDER SUMMARY -->
    <!-- PAYMENT METHOD -->
    <div class="col-xs-6 ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title pull-left" style="padding-top: 7.5px;"> Payment Method
          </h3>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="payment-bar">
            <%= render partial: "payment" %>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAYMENT METHOD -->
  </div>
</div>

