<h1>Checkout</h1>
<% total = 0 %>
<ul>
<% @cart.each do |id, quantity| %>
  <% food = Food.find(id) %>


    <li>
      <p><%= food.name %></p>
      <p><%= number_to_currency(food.price, :unit => 'THB ') %></p>
      <p>Quantity: <%= quantity %></p>
    </li>

    <% total += quantity * food.price %>

<% end %>
  <li>
    <p>Delivery fee: 50 THB</p>
  </li>
  <li>
    <p>Service fee: 10 THB</p>
  </li>
  <% total += 60 %>
<p><b>Total: <%= number_to_currency(total, :unit => 'THB ') %></b></p>

</ul>