<div class='container'>
  <div class="center">
    <h1>Thank you, <%= @user.name %></h1>
    <p>Your order is under process.</p>
    <p>Our driver will contact you when he arrives at your location.</p>
    <p>ขอบคุณที่ใช้บริการของเรา เราจะส่งอีเมล์ยืนยันการสั่งซื้อไปในอีกสักครู่</p>
    <p>กรุณาพกมือถือไว้อยู่กับตัวตลอดเวลา คนส่งอาหารของเราจะโทรไปหาคุณเมื่อถึงที่หมาย</p>
  </div>
</div>
