<div class='container'>
  <div class="center">
    <h1>Thank you, <%= @user.name %></h1>
    <p>Your order is under process.</p>
    <p>Email confirmation will be sent to you in a minute.</p>
    <p>ขอบคุณที่ใช้บริการของเรา เราจะส่งอีเมล์ยืนยันการสั่งซื้อไปในอีกสักครู่</p>
  </div>
</div>
