<div class='container'>
  <div class="center jumbotron">
    <p>Thank you, <%= @user.name %></p>
    <p>Your order is under process.</p>
    <p>Email confirmation will be sent to you in a minute.</p>
  </div>
</div>
