<h1>Delivery Confirmation</h1>

<p><%= @user.name %>, Thank you for choosing us </p>

<p>Your order has been placed. Your order will arrive at your doorstep in less than 45 minutes.</p>

<p>
  If you have any questions, please call 02-123-4567
</p>
