<% provide(:title, 'All users') %>
<div class='container'>
  <h1>All users</h1>

  <%= will_paginate %>

  <ul class="users">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </ul>

  <%= will_paginate %>
  <div class="center">
    <%= link_to users_path(:format => 'csv') do %>
      <button type="button" class="btn btn-default">Download all as CSV</button>
    <% end %>
  </div>
</div>
