<% provide(:title, @user.name) %>
<div class="center">
  <section class="user_info">
    <h1>
      <%= @user.name %>
    </h1>
    <p><%= @user.phone %></p>
    <p><%= @user.address %></p>
  </section>
</div>

