<span class="location-arrow-wrapper btn btn-danger"><i class="fa fa-location-arrow strong"></i></span>
<span class="spinning-icon-wrapper btn btn-danger hide"><i class="fa fa-spinner fa-spin strong"></i></span>
