<div class='order-details'>
  <div class='total-items-container'>
    <div class='total-items'>
      Item (<%= cumulative_quantity %>)
    </div>
    <div class='price'>
      <%= "#{total} ฿" %>
    </div>
  </div>
  <div class='delivery-fee-container'>
    <div class='delivery-fee'>
      Delivery fee
    </div>
    <% if @delivery_fee == 0 %>
      <div class='delivery-price'>
        <span style="text-decoration: line-through">500 ฿</span><%=" #{@delivery_fee} ฿"%>
      </div>
    <% else %>
      <div class='delivery-price'>
        <%="#{@delivery_fee} ฿"%>
      </div>
    <% end %>
  </div>
  <% if @delivery_fee == 0 %>
    <div style="color:red">Enjoy FREE delivery on your first order!</div>
  <% end %>
</div>
