<div class='order-details'>
  <div class='total-items-container'>
    <div class='total-items'>
      Item (<%= cumulative_quantity %>)
    </div>
    <div class='price'>
      <%= "#{total} ฿" %>
    </div>
  </div>
  <div class='delivery-fee-container'>
    <div class='delivery-fee'>
      Delivery fee
    </div>
    <div class='delivery-price'>
      <%="#{delivery_fee} ฿"%>
    </div>
  </div>
</div>
