
  <div class="row">
    <div class='col-md-4 col-xs-4 left-column'>
      <%= image_tag(restaurant.image_url, alt: "image", class: "restaurant-image") %>
    </div>
    <div class='col-md-8 col-xs-8 right-column'>
      <div class='title'><%= restaurant.name %></div>
      <div class='estimated-delivery'><i class="fa fa-truck fa-lg"></i>&nbsp;&nbsp;&nbsp;Estimated delivery time: 45 minutes</div>
      <div class='delivery-hours'>&nbsp;<i class="fa fa-clock-o fa-lg"></i>&nbsp;&nbsp;&nbsp;Delivery hours: 11:00AM - 9:00PM&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class='estimated-delivery'><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;&nbsp;Minimum order: <%= restaurant.min_order %> ฿</div>
    </div>
  </div>

