<div class='restaurant-container'>
  <div class="more_restaurants_slogan">More Coming Soon!</div>
  <div class='col-xs-12 menu-slogan'>
    "We believe that healthy food can be delievered fresh and fast" --
    <span class="fancy_name"> Befed</span>
  </div>
</div>
