<tr>
  <td width="20%"><%= order.id %> </td>
  <td width="20%"><%= order.rest_id %> </td>
  <td width="20%"><%= order.user_id %></td>
  <td width="20%"><%= order.total %></td>
  <td width="20%">
    <% if order.payment_type == 1 %>
      Credit Card
    <% else %>
      Cash
    <% end %>
  </td>
</tr>