<% provide(:hidden_title, 'Landing') %>

<div class='jumbotron-landing'>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render partial: "shared/map", locals: { button_name: "Feed me now!" } %>
    </div>
  </div>
</div>

<div class='container-fluid landing-page-pane'>
  <div class='landing-pane-bg red'>
    <div class='landing-title'>Enter delivery address</div>
    <img class='landing-image-row' style='max-height: 450px;' src='<%= asset_path("input_map.png") %>'></img>
  </div>

  <div class='landing-pane theme-color'>
    <div class='landing-title'>Select Menu</div>
    <img class='landing-image-row' style='max-height: 500px;' src='<%= asset_path("menu_img.png") %>'></img>
  </div>

  <div class='landing-pane-bg black'>
    <div class='landing-title'>Review <span class="theme-color">&</span> Pay</div>
    <img class='landing-image-row' src='<%= asset_path("checkout_summary.png") %>'></img>
  </div>
</div>
