<% provide(:hidden_title, 'Landing') %>

<div class='jumbotron-landing'>
  <div class="tagline center">
    <p>Salad Factory</p>
    <p>Deliver Healthy & Delicious Food</p>
    <p>to Our Beloved Customers<span class="glyphicon glyphicon-heart" style="color:red"></span></p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render partial: "shared/map", locals: { button_name: "Feed me now!" } %>
    </div>
  </div>

</div>
<h1>How it works</h1>
<p class="subthai center">สั่งง่ายๆใน 3 ขั้นตอน</p>
  <div class="row">

      <div class="col-sm-4 center">
        <span class="glyphicon glyphicon-map-marker"></span>
        <p>Locate</p>
        <img src="http://i.imgur.com/2xy4V4A.png" alt="Locate" height="auto" width="100%">
      </div>
      <div class="col-sm-4 center">
        <span class="glyphicon glyphicon-hand-up"></span>
        <p>Choose</p>
      <img src="http://i.imgur.com/R3bMVzz.png" alt="Locate" height="auto" width="100%">
      </div>
      <div class="col-sm-4 center">
        <span class="glyphicon glyphicon-cutlery"></span>
        <p>We Deliver</p>
      </div>

  </div>
