<% provide(:hidden_title, 'Landing') %>

<div class='jumbotron-landing'>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render partial: "shared/map", locals: { button_name: "Feed me now!" } %>
    </div>
  </div>
</div>

<div class='container-fluid landing-page-pane'>
  <div class='landing-pane-bg red'>
    <h1>Enter delivery address</h1>
    <input class='lading-pane-input' type='text' value='Some address goes here'/>
    <p>Animation when a user types in address and display dropdown</p>
  </div>

  <div class='landing-pane'>
    <h1>Select Menu</h1>
  </div>

  <div class='landing-pane-bg black'>
    <h1>Review & Pay</h1>
  </div>
</div>
