<div>
  <img src="http://placehold.it/750x500">
  <span>
    <input type="text" class="form-control" placeholder="House/Room No.*">
  </span>
  <span>
    <input type="text" class="form-control" placeholder="Street/Soi*">
  </span>
  <span>
    <input type="text" class="form-control" placeholder="Building/Condo/House Name (optional)">
  </span>
  <span>
    <input type="text" class="form-control" placeholder="City (Optional)">
  </span>
  <span>
    <input type="text" class="form-control" placeholder="Postal Code (Optional)">
  </span>
  <span>
    <input type="text" class="form-control" placeholder="Postal Code (Optional)">
  </span>
=================================
  <form class="form-inline">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Emailffffff">
      <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
    </div>
  </form>
</div>