<div>
  <img src="http://placehold.it/750x500">
  <div class="address-form">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control input-medium" id="house-number" placeholder="House/Room No.*">
        <input type="text" class="form-control input-small" id="exampleInputPassword3" placeholder="Street/Soi *">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-medium" id="building" placeholder="Building/Condo/House Name (optional)">
        <input type="text" class="form-control input-small" id="text" placeholder="Floor no. (optional)">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-medium" id="city" placeholder="City (optional)">
        <input type="number" class="form-control input-small" id="postcode" placeholder="Postal Code (optional)">
      </div>
      <div class="form-group">
        <textarea class="form-control input-large" placeholder="Delivery Instruction (optional)"></textarea>
      </div>
      <button type="button" class="btn btn-block btn-success">Save</button>
    </form>
  </div>
</div>