<div class="col-sm-6 address-thumb">
  <div class="panel panel-default">
    <div class="panel-heading">
      Name
      <div class="pull-right">
        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
        <a  href="#"><span class="glyphicon glyphicon-trash"></span></a>
      </div>
      <div class="clearfix;"></div>
    </div>
    <div class="panel-body">
      <div>address</div>
      <div>
        
      </div>
    </div>
  </div>
</div>