<div class="container">
  <h1>Edit Address</h1>
  <div class="row">
    <div id="editAddressForm" class="col-sm-8 col-sm-offset-2">
      <%= render partial: "form", locals: { address: @address } %>
    </div>
  </div>
</div>

