<div class="container">
  <h1>Address</h1>
  <div class="row">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-6 address-thumb">
          <div class="panel panel-default">
            <div class="panel-heading">
              Name
              <div class="pull-right">
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                <a  href="#"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
              <div class="clearfix;"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 address-thumb">
          <div class="panel panel-default">
            <a href="#">
              <div class="panel-body">
                <div class="new-address">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  <h2>New Address</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>