<div class="container">
  <h1>Address</h1>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= render partial: "thumbnail" %>
      <div class="col-sm-6 address-thumb">
        <div class="panel panel-default">
          <%= link_to new_address_path do %>
            <div class="panel-body">
              <div class="new-address">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <h2>New Address</h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>