<div class="container">
  <h1>New Address</h1>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= render partial: "form", locals: { address: @address } %>
    </div>
  </div>
</div>

<% unless @address.latitude.present? and @address.longitude.present? %>
  <%= render partial: "shared/map_modal", 
    locals: { submit_url: new_address_path(), cancel_url: addresses_path() } %>
<% end %>