.address-thumb {
  .thumb-map {
    height: 140px;
  }

  
  
  .panel {
    height: 280px;

    &:hover {
      border: 1px solid #CCCCCC;
      box-shadow: 1px 1px 1px #CCCCCC;
    }

    .new-address {
      padding: 80px 50px; 
      text-align: center;
    }

    $font-size: 14px;
    $line-height: 1.4;
    $lines-to-show: 4;

    .full-address {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
      margin: 0 auto;
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.default-address-thumb {
    .panel {
      border: 1px solid #EF665E;
      box-shadow: 1px 1px 1px #EF665E;
    }
  }
}



@media only screen and (min-width: 1px) and (max-width: 767px) {
  .address-form{
    margin-top: 4%;
    .form-inline {
      .form-group {
        width: 100%;

        .input-large {
          width: 100%;
        }

        .input-medium {
          width: 100%;
        }

        .input-small {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .address-form{
    margin-top: 4%;

    .field_with_errors {
      display: inline;
    }
    
    .form-inline {
      .form-group {
        width: 101%;

        .input-large {
          width: 99%;
        }

        .input-medium {
          width: 59%;
        }

        .input-small {
          width: 39%;
        }
      }
    }
  }
}


