@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc.. */

$gray-medium-light: #eaeaea;
$red-main: #ff4444;
$red-hilight: #ffc1c1;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-bottom: 20px;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: black;
  text-decoration: none;
  }
}

#sublogo {
  float: left;
  margin-right: 10px;
  font-size: 1.2em;
  color: $gray-light;
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
  color: black;
  text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
  color: $gray;
  &:hover {
    color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 15px;
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section.user_info {
  margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
    border: 0;
    padding-top: 0;
    }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
    }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
    }
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/////////////////////////////////////* add on *//////////////////////////////////////////////////////////////////////////////
a, a:hover {
  color: inherit;
  text-decoration: none;
}

.rest-image {
  width: 100%;
  max-height: 280px;
}

.navbar-custom {
    background-color: white;
    border-color: $gray-medium-light;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.navbar-nav > li {
  float: left;
}

.dropdown-menu {
  min-width: 0px;
}

.badge-danger {
  background-color: $red-main;
}

.color-hover {
  &:hover{
    background-color: $red-hilight;
    border-right: solid 2px;
    border-color: $red-main;
    padding-right: 13px;
  }
}

.food-cat {
  color: $red-main;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1.5px;
  border-color: $red-main;
}

.container {
  max-width: 800px;
}

.jumbotron {
  color: #FFF; // change text color
  height: 280px;
  color: white;
  text-shadow: #444 0 3px 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 90px;
}

.rest-col {
  padding: 5px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 90px;
}

.center-norep {
  background-position: center;
  background-repeat: no-repeat;
}

.medium {
  line-height: 80%;
  margin-bottom: 5px;
}

p.medium {
  line-height: 80%;
  margin-top: 10px;
}

hr {
  margin: 5px;
}

.input_checkbox input {
  width: auto !important;
}

.food-item {
  padding: 10px 15px 10px 10px;
}

.food-group {
  padding-bottom: 10px;
}

.food-price {
  float: right;
}

.hide-mobile {
  display: inline;
}

ul {
  margin: 0;
}
ul.option-lists {
  list-style-type: none;
}
ul.option-lists > li {
  text-indent: -35px;
  color: #A9A9A9;
}
ul.option-lists > li:before {
  content: "- ";
  text-indent: -35px;
}

div.container {
  padding-left: 4px;
  padding-right: 4px;
}

.thumbnail {
  margin-bottom: 10px;
  	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

#goback {
  margin-left: 5px;
  color: white;
}

.geomap {
  height: 280px;
  width: 100%;
}

.jumbotron-landing {
  padding: 80px;
  background-size: 100% auto;
  // background-color: red;
  background-image: url("http://i.imgur.com/lJgDM9N.jpg");
  background-repeat: repeat-y;
}

.tagline {
  margin-bottom: 10px;
  font-size: 1.4em;
}
@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
  .jumbotron-landing {
    padding: 20px;
  }
}

.geomap {
  margin-bottom: 15px;
}

.pac-container, .pac-item {
    width: inherit !important;
    z-index: 100000;
}

.address_header {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}