.map-submit {
  width: 80%;
}
.location-arrow-wrapper, .spinning-icon-wrapper {
  margin-left: 12px;
  padding-left: 9px;
  width: 10%;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
