// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-place {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.place-border {
  padding: 15px;
}
.main-bg {
  background-color: #ef5a50;
}