<div class='container-fluid'>
  <footer class="footer">
<p>
  <%= link_to "Privacy Policy", privacy_path %> | 
  <%= link_to "T&Cs", terms_path %> | 
  <%= link_to "About", about_path %> | 
  <%= link_to "Contact", contact_path %> 
</p>   

<p>© 2016 Befed Technology Co., Ltd.</p>

  </footer>
</div>
